<div class="mat-elevation-z8">
  <table class="table" mat-table [dataSource]="data" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="name" mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- PR Column -->
    <ng-container matColumnDef="description">
      <th class="desc" mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- EP Column -->
    <ng-container matColumnDef="ep">
      <th class="param" mat-header-cell *matHeaderCellDef mat-sort-header> EP </th>
      <td mat-cell *matCellDef="let element">{{ element.ep }}</td>
    </ng-container>

    <!-- GP Column -->
    <ng-container matColumnDef="gp">
      <th class="param" mat-header-cell *matHeaderCellDef mat-sort-header> GP </th>
      <td mat-cell *matCellDef="let element">{{ element.gp }}</td>
    </ng-container>

    <!-- PR Column -->
    <ng-container matColumnDef="pr">
      <th class="param" mat-header-cell *matHeaderCellDef mat-sort-header> PR </th>
      <td mat-cell *matCellDef="let element">{{ element.pr }}</td>
    </ng-container>

    <!-- Charge button -->
    <ng-container matColumnDef="charge">
      <th class="button" mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="basic" (click)="chargeEPGP(element)">Начислить</button>
    </ng-container>

    <!-- Toolbar -->
    <ng-container matColumnDef="toolbar">
        <th class="toolbar" mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="changeParams(element)" mat-menu-item>
              <mat-icon>mode</mat-icon>
              <span>Редактировать</span>
            </button>
            <button (click)="deletePlayer(element)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>
          <!-- <button mat-button color="primary">Редактировать</button> -->
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
